<html>
    <head>
        <title> Chennai Water Data </title>
        <style>
            body{
                background-color: #98e6e6;
        }
            h1{
                text-align: center;
        }
            h5{
                text-align: right;
                font-weight: 200;
        }           
        </style>
        
    </head>
    <body>
        <h1> Chennai Rainfall and Reservoir Water Data </h1>
        <p> In this page, you will see the Rainfall Data and Lake Levels Data in Chennai's Main Reservoirs. The data was collected from https://chennaimetrowater.tn.gov.in/ , the official government website for Chennai Metro Water. The data of Rainfall Level and Lake Level of Five Reservoirs - Poondi, Cholavaram, Red Hills, Chembrambakkam, Veeranam were collected and are shown and visualized in this website.</p>
        <center> <img src="https://chennaimetrowater.tn.gov.in/img/slider3.jpg" alt="Picture of Red Hills Reservoir taken from https://chennaimetrowater.tn.gov.in/"> </center>
        <h5> Source: https://chennaimetrowater.tn.gov.in/               </h5>
        <center> <p style="font-size:20px;", "color:blue;"><a href="http://127.0.0.1:5000/lakelevel">YEARLY LAKE LEVEL OF RESERVOIRS</a></p> </center>
        <center> <p style="font-size:20px;", "color:blue;"><a href="http://127.0.0.1:5000/rainfall">MONTHLY RAINFALL LEVEL</a></p> </center>
        <center> <p style="font-size:30px;", font-weight: bold; "color:black;">RESERVOIRS IN CHENNAI:</p></center>
        <center> <p style="font-size:20px;", "color:blue;"><a href="http://127.0.0.1:5000/poondi">POONDI - MONTHLY LAKE LEVEL</a></p> </center>
        <center> <p style="font-size:20px;", "color:blue;"><a href="http://127.0.0.1:5000/cholavaram">CHOLAVARAM - MONTHLY LAKE LEVEL</a></p> </center>
        <center> <p style="font-size:20px;", "color:blue;"><a href="http://127.0.0.1:5000/redhills">RED HILLS - MONTHLY LAKE LEVEL</a></p> </center>
        <center> <p style="font-size:20px;", "color:blue;"><a href="http://127.0.0.1:5000/chembarambakkam">CHEMBARAMBAKKAM - MONTHLY LAKE LEVEL</a></p> </center>
        <center> <p style="font-size:20px;", "color:blue;"><a href="http://127.0.0.1:5000/veeranam">VEERANAM - MONTHLY LAKE LEVEL</a></p> </center>
        <center> <p style="font-size:25px;", "color:blue;"><a href="http://127.0.0.1:5000/query">QUERIES</a></p> </center>
    </body>
</html>